* {
    box-sizing: border-box;
}

body {
    background-color: #262829;
    color: white;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#dlg-selection {
    box-shadow: inset 0 0 0.5em rgba(0,0,0,0.5);
    width: 18em;
    min-height: 10em;
    position: fixed;
    top: 9em;
    left: 1em;
    bottom: 1em;
    overflow: auto;
}

#output {
    padding: 2em;
    box-shadow: inset 0 0 0.5em rgba(0,0,0,0.5);
    position: fixed;
    top: 9em;
    left: 22em;
    bottom: 1em;
    right: 1em;
    overflow: auto;
}

#run-button {
    border-radius: 2em;
    background-color: #8aa93d;
    text-shadow: 0 0 0.4em black;
    width: 1em;
    height: 1em;
    font-size: 2em;
    padding-left: 0.3em;
    line-height: 0.9em;
    user-select: none;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    cursor: pointer;
    position: fixed;
    top: 6em;
    left: 9.75em;
}

#run-button:hover {
    background-color: #a8c168;
}

#dlg-selection > div {
    cursor: pointer;
    padding: 0.5em 1em;
    border-bottom: 1px solid #101112;
    font-size: 0.9em;
}

#dlg-selection > div.selected {
    background-color: rgba(143, 159, 101, 0.235);
}

#output > div {
    margin: 1em;
    margin-top: 0;
}

#output > div > div::before {
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border-right: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-top: 1em solid transparent;
    border-left: 1em solid transparent;
    transform: rotate(45deg);
    margin-left: -1.9em;
    margin-top: -2em;
}

#output > div > .speech {
    display: inline-block;
    border-radius: 0 1em 1em 1em;
    padding: 1em;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
}

#output > div > div > .character {
    display: block;
    font-size: 0.6em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid silver;
}

#output > div > div > .text {
    white-space: pre-wrap;
}


#output > .question {
    width: 80%;
    background-color: #313428;
    margin: auto;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

#output > .question > .answer {
    background-color: #778d36;
    padding: 1em 0.5em;
    margin: 1em;
    cursor: pointer;
}

#output > .question > .answer:hover {
    background-color: #97b04a;
}

#output > .question.inactive > .answer,
#output > .question.inactive > .answer:hover {
    background-color: #575d44;
    cursor: default;
}



.char-1 {
    background-color: #596935;
}

.char-2 {
    background-color: #8caa4a;
}

.char-3 {
    background-color: #356e3f;
}

.char-4 {
    background-color: #9b6f25;
}

.char-5 {
    background-color: #ec322c;
}

.char-6 {
    background-color: #c4bc2c;
}

.char-7 {
    background-color: #C145ED;
}

.char-8 {
    background-color: #b8317b;
}

.char-9 {
    background-color: #4596ED;
}

.char-10 {
    background-color: #2ea190;
}

.char-11 {
    background-color: #F05A41;
}

#output > div > div.char-1::before {
    border-bottom: 1em solid #596935;
}

#output > div > div.char-2::before {
    border-bottom: 1em solid #8caa4a;
}

#output > div > div.char-3::before {
    border-bottom: 1em solid #356e3f;
}

#output > div > div.char-4::before {
    border-bottom: 1em solid #9b6f25;
}

#output > div > div.char-5::before {
    border-bottom: 1em solid #ec322c;
}

#output > div > div.char-6::before {
    border-bottom: 1em solid #c4bc2c;
}

#output > div > div.char-7::before {
    border-bottom: 1em solid #C145ED;
}

#output > div > div.char-8::before {
    border-bottom: 1em solid #b8317b;
}

#output > div > div.char-9::before {
    border-bottom: 1em solid #4596ED;
}

#output > div > div.char-10::before {
    border-bottom: 1em solid #2ea190;
}

#output > div > div.char-11::before {
    border-bottom: 1em solid #F05A41;
}