{% extends "templates/_main.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<h1 class="blogpost-title">{{title}}</h1>
<small>{{blog_date}} &bull; {{blog_author}}</small><br/>
<small><a href="{{base_url}}/blog">[Blog Overview]</a></small>
{{ _content|safe }}
{% endblock %}
