<p>
    <em>Schnack</em> is free open source software,<br/>released under the
    <a href="https://opensource.org/license/zlib-license-php/" target="_blank">zlib software license</a>.
</p>
<p>{{ website_copyright|safe }}</p>

<p>
    <a href="{{base_url}}/legal" class="small-link">[Privacy Policy]</a>
</p> 
