<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{base_url}}/style.css" />
    <title>{% block title %}{% endblock %} :: {{ website_title }}</title>
    {% endblock %}
</head>
<body>
    <nav id="navigation">
        <a href="{{base_url}}/" id="logo" ><img src="{{base_url}}/img/icon.png" /></a>

        <a href="#" class="menu-icon">&#x2261;</a>

        <div id="menu-items">
            {% for page in _pages|selectattr("nav_order")|sort(attribute="nav_order") %}
                <a href="{{base_url}}{{page._target_path}}">{{page.title}}</a>
            {% endfor %}
        </div>
    </nav>
    <div id="banner">
        <img src="{{base_url}}/img/logo.png" class="logo" />
    </div>
    <div id="content">
        {% block preContent %}
        {% endblock %}
        
        {% block content %}
        {% endblock %}

        {% block postContent %}
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        {% include 'templates/_footer.html' %}
        {% endblock %}
    </div>
</body>
</html>
