{% extends "templates/_main.html" %}

{% block title %}{{title}}{% endblock %}

{% set user_guide_articles = _pages|selectattr("userguide_summary")|sort(attribute="title") %}
{% set user_guide_article_titles = user_guide_articles|map(attribute="title")|list %}
{% set currentIndex = user_guide_article_titles.index(title) %}
{% if currentIndex > 0%}
    {% set prev_page = user_guide_articles[currentIndex - 1] %}
{% else %}
    {% set prev_page = none %}
{% endif %}
{% if currentIndex + 1 < user_guide_articles|length %}
    {% set next_page = user_guide_articles[currentIndex + 1] %}
{% else %}
    {% set next_page = none %}
{% endif %}

{% block preContent %}
<h1>User Guide</h1>
<div class="blog-nav">
    <div class="left">
        {% if prev_page != none %}
        <a href="{{base_url}}{{prev_page._target_path}}" class="navlink"><span class="arrow">◂</span><span class="nav-text"> {{prev_page.title}}</span></a>
        {% endif %}
    </div>
    <div><a href="{{base_url}}/user-guide" class="navlink">▴</span><span class="nav-text"> User Guide Overview</span></a></div>
    <div class="right">
        {% if next_page != none %}
        <a href="{{base_url}}{{next_page._target_path}}" class="navlink"><span class="nav-text">{{next_page.title}} </span><span class="arrow">▸</span></a>
        {% endif %}
    </div>
</div>
<h1>{{title}}</h1>
{% endblock %}

{% block content %}
{% endblock %}

{% block postContent %}
<div class="blog-nav">
    <div class="left">
        {% if prev_page != none %}
        <a href="{{base_url}}{{prev_page._target_path}}" class="navlink"><span class="arrow">◂</span><span class="nav-text"> {{prev_page.title}}</span></a>
        {% endif %}
    </div>
    <div><a href="{{base_url}}/user-guide" class="navlink">▴</span><span class="nav-text"> User Guide Overview</span></a></div>
    <div class="right">
        {% if next_page != none %}
        <a href="{{base_url}}{{next_page._target_path}}" class="navlink"><span class="nav-text">{{next_page.title}} </span><span class="arrow">▸</span></a>
        {% endif %}
    </div>
</div>
{% endblock %}
