---
title: Blog
nav_order: 4
---
{% extends "templates/_main.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
<h1>Blog</h1>

<a href="feed.xml" target="_blank">Subscribe via RSS</a>

{% for page in _pages|selectattr("blog_date")|sort(attribute="blog_date", reverse=True) %}
    <p class="blog-posts">
        <small>{{page.blog_date}} by {{page.blog_author}}</small><br/>
        <a href="{{base_url}}{{page._target_path}}">{{page.title}}</a><br/>
        <small>{{page.blog_summary}}</small><br/>
    </p>
{% endfor %}

{% endblock content %}