$colorPageBackground: #262929;
$colorNavBackground: rgba(40, 40, 40, 0.89);
$colorFooterBackground: #323636;
$colorFont: #c6d1d4;
$colorFontGreyedOut: #8c9294;
$colorFontNavLink: white;
$colorBackgroundNavlink: rgba(255, 255, 255, 0.13);

$colorBanner1: #48bb6b;
$colorBanner2: #0b4444;

$colorLink: #2d7d97;
$colorLinkHover: #4198b6;