#banner {
    & > .logo {
        max-width: 80%;
    }
}

#navigation {
    font-size: 1em;

    & > #menu-items {
        margin-top: 3em;
    }

    & > #menu-items > a {
        display: block;
    }

    & > a.menu-icon {
        color: white;
        text-decoration: none;
        font-size: 2em;
        display: block;
        background-color: none;
        border: none;
        position: absolute;
        right: 0.45em;
    }

    &> #menu-items {
        display: none;
    }

    &:hover > #menu-items {
        display: block;
    }
}

#banner {
    width: 100%;
    min-height: 18em;
}

.block {
    display: block;
    width: 100%;
    padding: 0;
}

.block:nth-child(2) {
    padding: 0;
}

.blog-nav {
    .nav-text {
        display: none;
    }
}
