---
title: Documentation
nav_order: 2
---
{% extends "templates/_main.html" %}

{% block title %}Documentation{% endblock %}

{% block content %}
<h1>Documentation</h1>

<h2>Manual</h2>
<p>
    The manual briefly descibes the editor and its functionality. It is also included in the <em>Schnack</em> editor and accessible via the <em>"Help"</em> menu.
</p>
<p>
    <a href="{{base_url}}/manual">Manual</a>
</p>

<h2>User Guide</h2>
<p>
    The user guide is a short series of tutorials that show how to start workin with <em>Schnack</em>:
</p>
<p>
    <a href="{{base_url}}/user-guide">User Guide Overview</a>
</p>

{% endblock content %}