---
title: Home
nav_order: 1
---
{% extends "templates/_main.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="section">
    <div class="block">
        <h1>Node-Based Dialog System for Games</h1>
        <p>
            <em>Schnack</em> is a multi-platform editor that provides node-based
            dialog creation for games and interactive fiction.
        </p>
        <p>
            The pronounciation of the name is <em>"shnuck"</em>, which is a term for <em>"talking"</em> or <em>"chatting"</em> in north Germany.
        </p>
    </div>
    <div class="block">
        <img src="{{base_url}}/img/screenshot-nodes.png" />
    </div>
</div>
<div class="section">
    <div class="block right">
        <h1>Built-In Localization Support</h1>

        <p>
            All dialog texts can be localized inside the editor. In order to
            improve collaboration with an external translation service provider,
            a CSV export and import allows external users to edit translations
            in <em>Excel</em> or <em>Libre Office</em> without the need to
            install <em>Schnack</em>.
        </p>
        <!-- <h2>Features</h2>
        <ul>
            <li>Node-based dialog editing</li>
            <li>Editor works on Windows and Linux</li>
            <li>Editor and runtime work independently from each other (the runtime is the lib you use in your game)</li>
            <li>JSON-based file format, source control friendly</li>
            <li>PDF export of spoken lines for providing text to voice actors</li>
            <li>Localization support</li>
            <li>CSV export / import for editing localization in Excel or LibreOffice without the need to install Schnack</li>
            <li>Integrated Lua scripting</li>
            <li>Administration of global and per-character variables inside the editor</li>
        </ul> -->
    </div>
    <div class="block" style="text-align: center;">
        <img src="{{base_url}}/img/screenshot-localization.png" />
    </div>
</div>
<div class="section">
    <div class="block">
        <h1>Lua-Powered Logic</h1>
        <p>
            Implement your dialog logic using <em>Lua</em>. There are different
            types of nodes that allow you to express different sorts of logic
            in your dialogs. Additionally, each node has an optional
            precondition, which is checked in order to decide whether it may
            be executed. After the execution of a node, a script can be
            evaluated in order to modify the state of your game world.
            Preconditions and post-execution scripts are expressed in the Lua
            scripting language.
        </p>
    </div>
    <div class="block" style="text-align: center;">
        <img src="{{base_url}}/img/lua.png" />
    </div>
</div>
<div class="section">
    <div class="block right">
        <h1>Schnacker Runtimes</h1>
        <p>
            While <em>"Schnack"</em> means <em>"casual conversion"</em> in North
            German dialect, <em>"Schnacker"</em> is someone who talks a lot
            without actually doing that much (basically a <em>"blatherer"</em>).
        </p>
        <p>
            This is not entirely true for the <em>Schnacker</em> family of
            libraries. In order to run the dialogs created with <em>Schnack</em>,
            you can use one of the existing runtime libraries, which parses the
            file and interprets the dialog logic. There are libraries available
            for different languages, such as <em>C++</em>, <em>Javascript</em>,
            <em>Python</em> and <em>C#</em>.
        </p>
    </div>
    <div class="block">
        <img src="{{base_url}}/img/schnacker.png" />
    </div>
</div>
<div class="section">
    <div class="block">
        <h1>Git-Friendly JSON-Based File Format</h1>
        <p>
            The dialog files are based on the <em>JSON</em> file format.
            The files are automatically stored with line-breaks and indentation,
            which makes them easy to read for a human being, as well as easy to
            merge when used with a version control system, such as <em>git</em>.
            The use of universally unique identifiers (UUIDs) for node IDs instead
            of auto-incremented numeric IDs ensures that <em>Schnack</em> files
            can be merged after being edited concurrently.
        </p>
        <h1>Free and Open-Source</h1>
        <p>
            <em>Schnack</em> is released under the permissive <em>zlib</em>
            license that allows for the use within private, open-source
            and commercial projects free of charge.
        </p>
    </div>
    <div class="block" style="text-align: center;">
        <img src="{{base_url}}/img/foss-git.png" />
    </div>
</div>

    <!-- <p>
        <img src="{{base_url}}/img/screenshot-01.png" class="screenshot"/>
    </p>
    <br/>
    <p>
        <img src="{{base_url}}/img/screenshot-02.png" class="screenshot"/>
    </p> -->

{% endblock %}
