{% extends "templates/_main.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
    <h1>Privacy Policy</h1>
    <p>
        Personal data (usually referred to just as „data“ below) will only be
        processed by us to the extent necessary and for the purpose of providing
        a functional and user-friendly website, including its contents, and the
        services offered there.
    </p>
    <p>
        Per Art. 4 No. 1 of Regulation (EU) 2016/679, i.e. the General Data
        Protection Regulation (hereinafter referred to as the „GDPR“),
        „processing“ refers to any operation or set of operations such as
        collection, recording, organization, structuring, storage, adaptation,
        alteration, retrieval, consultation, use, disclosure by transmission,
        dissemination, or otherwise making available, alignment, or combination,
        restriction, erasure, or destruction performed on personal data,
        whether by automated means or not.
    </p>
    <p>
        The following privacy policy is intended to inform you in particular
        about the type, scope, purpose, duration, and legal basis for the
        processing of such data either under our own control or in conjunction
        with others. We also inform you below about the third-party components
        we use to optimize our website and improve the user experience which
        may result in said third parties also processing data they collect and
        control.
    </p>
    <p>
        Our privacy policy is structured as follows:
    </p>
    <p>
        I. Information about us as controllers of your data<br>
        II. The rights of users and data subjects<br>
        III. Information about the data processing
    </p>
    
    <h3>I. Information about us as controllers of your data</h3>
    <p>
        The party responsible for this website (the „controller“) for purposes
        of data protection law is:
    </p>
    
    Carsten Pfeffer<br>
    Hinterm Berg 7<br>
    27726 Worpswede, Germany<br>
    E-Mail: pfeffer.carsten[at]gmail.com
    
    <h3>II. The rights of users and data subjects</h3>
    <p>
        With regard to the data processing to be described in more detail below,
        users and data subjects have the right
    </p>
    
    <ul>
        <li>
            to confirmation of whether data concerning them is being processed,
            information about the data being processed, further information
            about the nature of the data processing, and copies of the data
            (cf. also Art. 15 GDPR);
        </li>
        <li>
            to correct or complete incorrect or incomplete data (cf. also Art.
            16 GDPR);
        </li>
        <li>
            to the immediate deletion of data concerning them (cf. also Art.
            17 DSGVO), or, alternatively, if further processing is necessary as
            stipulated in Art. 17 Para. 3 GDPR, to restrict said processing per
            Art. 18 GDPR;
        </li>
        <li>
            to receive copies of the data concerning them and/or provided by
            them and to have the same transmitted to other providers/controllers
            (cf. also Art. 20 GDPR);
        </li>
        <li>
            to file complaints with the supervisory authority if they believe
            that data concerning them is being processed by the controller in
            breach of data protection provisions (see also Art. 77 GDPR).
        </li>
    </ul>
    
    <p>
        In addition, the controller is obliged to inform all recipients to whom
        it discloses data of any such corrections, deletions, or restrictions
        placed on processing the same per Art. 16, 17 Para. 1, 18 GDPR.
        However, this obligation does not apply if such notification is
        impossible or involves a disproportionate effort. Nevertheless, users
        have a right to information about these recipients.
    </p>
    <p>
        <strong>Likewise, under Art. 21 GDPR, users and data subjects have the
            right to object to the controller’s future processing of their data
            pursuant to Art. 6 Para. 1 lit. f) GDPR. In particular, an objection
            to data processing for the purpose of direct advertising is
            permissible.</strong>
        </p>
        <h3>III. Information about the data processing</h3>
        <p>
            Your data processed when using our website will be deleted or
            blocked as soon as the purpose for its storage ceases to apply,
            provided the deletion of the same is not in breach of any statutory
            storage obligations or unless otherwise stipulated below.
        </p>
        <h4 class="jet-listing-dynamic-field__content">Server data</h4>
        <p>
            For technical reasons, the following data sent by your internet
            browser to us or to our server provider will be collected,
            especially to ensure a secure and stable website: These server log
            files record the type and version of your browser, operating system,
            the website from which you came (referrer URL), the webpages on our
            site visited, the date and time of your visit, as well as the IP
            address from which you visited our site.
        </p>
        <p>
            The data thus collected will be temporarily stored, but not in
            association with any other of your data.
        </p>
        <p>
            The basis for this storage is Art. 6 Para. 1 lit. f) GDPR. Our
            legitimate interest lies in the improvement, stability,
            functionality, and security of our website.
        </p>
        <p>
            The data will be deleted within no more than seven days, unless
            continued storage is required for evidentiary purposes. In which
            case, all or part of the data will be excluded from deletion until
            the investigation of the relevant incident is finally resolved.
        </p>
        <h4 class="jet-listing-dynamic-field__content">General introduction</h4>
        <h4 class="jet-listing-dynamic-field__content">Twitter</h4>
        <p>Twitter Inc., 795 Folsom St., Suite 600, San Francisco, CA 94107, USA</p>
        <p>Privacy Policy: <a href="https://twitter.com/privacy" target="_blank" rel="noopener nofollow">https://twitter.com/privacy</a>
        </p>
        
        <h4 class="jet-listing-dynamic-field__content">YouTube</h4>
        <p>Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland, a subsidiary of Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043 USA</p>
        <p>Privacy Policy: <a href="https://policies.google.com/privacy" target="_blank" rel="noopener nofollow">https://policies.google.com/privacy</a></p> 
        
        <br>
        <br>
        <p><a href="https://www.generator-datenschutzerklärung.de" target="_blank" rel="noopener">Model Data Protection Statement</a> for <a href="https://www.ratgeberrecht.eu/" target="_blank" rel="noopener">Anwaltskanzlei Weiß &amp; Partner</a></p> 
{% endblock %}
