---
title: Manual
---
{% extends "templates/_main.html" %}

{% block title %}Manual{% endblock %}

{% block content %}
<h1>Manual</h1>
<a href="{{base_url}}/documentation" class="navlink">▴ Documentation Overview</a>
<p>
    The manual briefly descibes the editor and its functionality. It is also included in the Schnack editor and accessible via the <em>"Help"</em> menu. :
</p>
{% for page in _pages|selectattr("manual_summary")|sort(attribute="title") %}
    <p class="blog-posts">
        <a href="{{base_url}}{{page._target_path}}">{{page.title}}</a><br/>
        <small>{{page.manual_summary}}</small><br/>
    </p>
{% endfor %}

{% endblock content %}