---
title: Runtimes
nav_order: 3
---
{% extends "templates/_main.html" %}

{% block title %}Runtimes{% endblock %}

{% block content %}
<h1>Runtimes</h1>
<p>
    The <code>*.schnack</code> file format is JSON-based and can be read using arbitrary JSON parsers.
    However, there are runtime libraries which you can use in your game in order to load and run <em>Schnack</em> dialogs.
</p>
<ul>
    <li><a href="#cpp">C++</a></li>
    <li><a href="#js">JavaScript</a></li>
    <li><a href="#net">C#</a></li>
    <li><a href="#python">Python</a></li>
    <li><a href="#java">Java</a></li>
</ul>

<div class="section" id="cpp">
    <div class="block block-80">
        <h2>Schnacker</h2>
        <p>
            <em>Schnacker</em> is the primary runtime implementation for <em>Schnack</em> dialog files. It is written in and for C++
            and it is used in the ALPACA point and click adventure engine. Further, it uses the <em>sol2</em> <em>Lua</em> bindings for
            providing <em>Lua</em> scripting support. It is released under the permissive zlib license.
        </p>
        <p>
            For more information please refer to the <a href="https://gitlab.com/pac4/schnacker/" target="_blank">GitLab-Repository</a>.
        </p>
    </div>
    <div class="block block-20">
        <img src="{{base_url}}/img/icon-schnacker.png" />
    </div>
</div>

<div class="section" id="js">
    <div class="block right block-80">
        <h2>Schnacker.js</h2>
        <p>
            The second-most important <em>Schnack</em> runtime is <em>Schnacker.js</em>. It has the same functionality and a very similar API
            to <em>Schnacker</em> (the only differences are due to the particular traits of both programming languages -- method overloading, etc.).
            The Javascript implementation of <em>Schnacker</em> uses the <em>Fengari</em> library for providing <em>Lua</em> scripting support.
            It not only allows dialogs to be interpreted within the browser, but it also serves as a debugger in the Schnack editor itself.
            Schnacker.js is released under the permissive zlib license.
        </p>
        <p>
            For more information please refer to the <a href="https://gitlab.com/pac4/schnacker.js" target="_blank">GitLab-Repository</a>.
        </p>
    </div>
    <div class="block block-20">
        <img src="{{base_url}}/img/icon-schnacker.js.png" />
    </div>
</div>

<div class="section" id="net">
    <div class="block block-80">
        <h2>Schnacker.NET</h2>
        <p>
            The .NET implementation is written in C# and based on .NET Standard 2.0 for a maximum compatibility (also with the popular Unity3D engine).
            It utilizes the <em>System.Text.Json</em> package for parsing the Schnack files and the <em>MoonSharp</em>
            library for <em>Lua</em> scripting support.
        </p>
        <p>
            For more information please refer to the <a href="https://gitlab.com/pac4/schnacker.net" target="_blank">GitLab-Repository</a>.
        </p>
    </div>
    <div class="block block-20">
        <img src="{{base_url}}/img/icon-schnacker.net.png" />
    </div>
</div>

<div class="section" id="python">
    <div class="block right block-80">
        <h2>pySchnacker</h2>
        <p>
            The <em>Python</em> implementation of <em>Schnacker</em> (<em>pySchnacker</em>) uses the <em>lupa</em> library for <em>Lua</em> execution.
            It is released under the permissive zlib license.
        </p>
        <p>
            For more information please refer to the <a href="https://gitlab.com/pac4/pyschnacker" target="_blank">GitLab-Repository</a>.
        </p>
    </div>
    <div class="block block-20">
        <img src="{{base_url}}/img/icon-pyschnacker.png" />
    </div>
</div>

<div class="section" id="java">
    <div class="block block-80">
        <h2>Schnacker4j</h2>
        <p>
            A <em>Java</em> target is planned for the <em>Schnacker</em> runtime. <em>Java</em> is an important platform
            for <em>Android</em> development on the one hand and the LibGDX framework or the jMonkey game engine on the other hand.
            However, it is not yet implemented.
        </p>
    </div>
    <div class="block block-20">
        <img src="{{base_url}}/img/icon-schnacker4j.png" />
    </div>
</div>

{% endblock %}