@import '_colors.scss';

@font-face {
    font-family: 'arconregularweb';
    src: url('font/arcon-regular-webfont.woff2') format('woff2'),
         url('font/arcon-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    scroll-padding-top: 5rem;
}

body {
    background-color: $colorPageBackground;
    color: $colorFont;
    font-family: 'arconregularweb', Tahoma, sans-serif;
    margin: 0;
    font-size: 1.3em;
    line-height: 1.1;
}

h1 {
    font-size: 1.6em;
    margin-top: 1.8em;
    margin-bottom: 0.3em;
}

h2 {
    font-size: 1.3em;
    margin-top: 1.8em;
    margin-bottom: 0.3em;
}

h3 {
    font-size: 1.2em;
    margin-top: 1.8em;
    margin-bottom: 0.3em;
}

h4 {
    font-size: 1.1em;
    margin-top: 1.8em;
    margin-bottom: 0.3em;
}

h5 {
    font-size: 1.05em;
    margin-top: 1.8em;
    margin-bottom: 0.3em;
}

h6 {
    font-size: 1.025em;
    margin-top: 1.8em;
    margin-bottom: 0.3em;
}

code, pre {
    padding: 0.4em;
    background-color: darken($colorPageBackground, 5%);
}

pre {
    padding: 1em;
    width: 100%;
    overflow: auto;
}

pre > code {
    padding: 0;
}

#banner {
    width: 100%;
    min-height: 21em;
    background: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    text-align: left;
    box-shadow: 0 0 1em rgba(0,0,0,0.4);
    margin-bottom: 3em;

    & > .logo {
        max-width: 50%;
        max-height: 7em;
        margin: 6em 2em;
        user-select: none;
        pointer-events: none;
    }
}

a {
    color: $colorLink;
    text-decoration: none;

    &:hover {
        color: $colorLinkHover;
    }
}

#navigation {
    background-color: $colorNavBackground;
    width: 100%;
    text-align: right;
    position: fixed;
    top: 0;
    font-size: 1.2em;
    box-shadow: 0 0 0.4em rgba(0,0,0,0.6);
    
    & > #menu-items > a {
        display: inline-block;
        padding: 0.8em 1em 0.6em 1em;
        color: $colorFontNavLink;
        font-variant: small-caps;
        text-decoration: none;
        height: 100%;
        border-bottom: 0.2em solid transparent;
        transition: background-color 0.5s,
                    border 0.5s;
    }
    
    & > #menu-items > a:hover {
        background-color: $colorBackgroundNavlink;
        border-bottom: 0.2em solid #9ab343;
    }

    & > a.menu-icon {
        display: none;
    }
}


#footer {
    box-shadow: 0 0 0.4em rgba(0,0,0,0.6);
    background-color: $colorFooterBackground;
    min-height: 6em;
    padding: 1em;
    text-align: center;
}

#content {
    padding: 1em;
    width: 100%;
    margin: 0 auto;
    min-width: 300px;
    max-width: 1200px;
}

#content p {
    text-align: justify;
}

a#logo {
    float: left;
    padding: 0.3em 1em 0 1em;

    &:hover {
        background-color: transparent;
    }

    & > img {
        width: auto;
        height: 2em;
    }
}

a.small-link {
    font-size: 0.9em;
    color: $colorFontGreyedOut;
    text-decoration: none;
}

.blog-posts {
    a {
        font-size: 1.3em;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    small {
        color: $colorFontGreyedOut;
    }

    margin-bottom: 1.5em;
}

.screenshot {
    width: 100%;
    box-shadow: 0 0 1em black;
}

.section::after { 
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
    margin-bottom: 2em;
}

.block {
    float: left;
    vertical-align: top;
    width: calc(50% - 0.2em);
    padding: 0 0.5em 0 0;

    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child {
        padding-top: 0;
        margin-top: 0;
    }

    img {
        max-width: 100%;
    }
}

.block:nth-child(2) {
    padding: 0 0 0 0.5em;
}

.block.right {
    float: right;
}


.block-80 {
    width: calc(80% - 0.2em);
}

.block-20 {
    width: calc(20% - 0.2em);
}

@media (max-width: 950px) {
    @import '_mobile.scss';
}

#content  {
    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child {
        padding-top: 0;
        margin-top: 0;
    }
}

#content img {
    max-width: 100%;
}

.blog-nav {
    margin-bottom: 3em;
    border-bottom: 1px solid lighten($colorPageBackground, 10%);

    &::after {
        content: ' ';
        clear: both;
    }

    & > * {
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        width: 34%;
        min-height: 1em;
        text-align: center;
    }
    & > * > a {
        display: inline-block;
    }
    & > .left {
        width: 33%;
        text-align: left;
        float: left;
    }
    & > .right {
        width: 33%;
        text-align: right;
        float: right;
    }

    &:last-child {
        margin-bottom: 0;
        margin-top: 3em;
        border-bottom: none;
        border-top: 1px solid lighten($colorPageBackground, 10%);
    }
}

.arrow {
    font-family: Arial, Helvetica, sans-serif;
}

p > img {
    text-align: center;
    box-shadow: 0 0 1em rgba(0,0,0,0.4);
    margin: 0 auto;
    display: block;
}