---
title: User Guide
---
{% extends "templates/_main.html" %}

{% block title %}User Guide{% endblock %}

{% block content %}
<h1>User Guide</h1>
<a href="{{base_url}}/documentation" class="navlink">▴ Documentation Overview</a>
<p>
    The user guide is a short series of tutorials that show how to start working with <em>Schnack</em>:
</p>
{% for page in _pages|selectattr("userguide_summary")|sort(attribute="title") %}
    <p class="blog-posts">
        <a href="{{base_url}}{{page._target_path}}">{{page.title}}</a><br/>
        <small>{{page.userguide_summary}}</small><br/>
    </p>
{% endfor %}

{% endblock content %}